.dialog{
    outline : solid 2px black;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        border-top: 10px solid white;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 0px solid transparent;
        bottom: -8px;
        left: 45%;
    }
    &::before{
        content: "";
        position: absolute;
        border-top: 10px solid black;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 0px solid transparent;
        bottom: -10px;
        left: 45%;
    }
}
